.mp-0{
    margin: 0;
    padding: 0;
}

.btn-styles{
    background-color: #b1b0b0;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.wrapper {
    max-width: 1500px;
    margin: 0 auto;
    position: relative;
}

.mine-star{
    position: absolute;
    z-index: 22;
    background-color: #e79523;
    width: 90px;
    height: 50px;
    right: -50px;
    top: 0;
    color: white
}

.mine-title{
    width: 350px;
}

.mine-img {
    height: 120px;
    width: 120px;
    object-fit: cover;
}

.mine-price{
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.highlight{
    border: solid #eaa83e 5px;
}

.vip {
    background-color: #eaa83e;
}

.hover:hover {
    background-color: #eaa83e;
    text-decoration: none;
    transition:all 0.5s;
}

.uplode-file{
    display: inline-block;
    cursor: pointer;
    color: #eaa83e;
    text-decoration: underline;
}

.delete-file {
    text-decoration: underline;
    color: #eaa83e;
}

.main_input_file {
    display: none;
}

.reset-btn {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

#f_name {
    border: 0;
}

@media (max-width: 992px) {
    .mine-star{
        right: -190px;
    }
}

@media (max-width: 992px) {
    .mine-star{
        right: -190px;
    }
}
@media (max-width: 765px) {
    .mine-star{
        right: -50px;
    }
    .mine-title{
        width: 300px;
    }
    .cusctom-text-center{
        text-align:center;
    }
}


@media (max-width: 576px) {
    .mine-star{
        right: 0;
        top: 10px;
    }

    .mine-title{
        width: auto;
    }

    .mine-img{
        height: auto;
        width: 100%;
    }

    .mine-price{
        position: relative;
        margin-top: 20px;
        margin-left: 10px;
    }

}
